# ─── Database ────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://nevup:nevup@localhost:5432/nevup

# ─── Redis ───────────────────────────────────────────────────────────────────
REDIS_URL=redis://localhost:6379

# ─── JWT ─────────────────────────────────────────────────────────────────────
JWT_SECRET=97791d4db2aa5f689c3cc39356ce35762f0a73aa70923039d8ef72a2840a1b02

# ─── Server ──────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=production
LOG_LEVEL=info
